[submodule "CppND-Route-Planning-Project"]
	path = CppND-Route-Planning-Project
	url = https://github.com/udacity/CppND-Route-Planning-Project
[submodule "P0267_RefImpl"]
	path = P0267_RefImpl
	url = https://github.com/cpp-io2d/P0267_RefImpl.git
